services:
  db:
    image: ghcr.io/liviaisaiah-collab/smallproj1-db:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: mysqlrootpassword21
      MYSQL_DATABASE: spdb
    expose:
      - "3306"
    volumes:
      - db_data:/var/lib/mysql
  web:
    image: ghcr.io/liviaisaiah-collab/smallproj1-webserver:latest
    restart: always
    ports:
      - "80:80"
    depends_on:
      - db

volumes:
  db_data: {}